.bg-grid-small-white {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='8' height='8' fill='none' stroke='rgb(255 255 255 / 0.1)'%3E%3Cpath d='M0 .5H31.5V32'/%3E%3C/svg%3E");
}

:root {
  --primary-rgb: 147, 51, 234;
  --secondary-rgb: 249, 115, 22;
  --accent-rgb: 34, 211, 238;
} 